<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/header %>
  </head>

  <body class="container" data-spy="scroll" data-target=".navbar" data-offset="50">
    <%include ../../partials/nav %>

    <div class = "jumbotron navOption">
      <h1 class = "text-center"> Geolocation </h1>
    </div>

    <div class = "content text-center">
      <p class= "text-center">Click the button to get your coordinates.</p>
      <button type = "button" onclick="geoLocation()" class= "text-center btn btn-danger">Find Coordinates</button>
      <p id="geo" class= "text-center"></p>
    </div>

      <div class="text-center" role="status" id = "mapholder" style="padding-bottom:50px">
      </div>

  </body>

  <footer>
    <%include ../../partials/footer %>
    <script type="text/javascript" src="js/geolocation.js">
    </script>
  </footer>
</html>
