<div id="download-results" style='margin: 30px' class="text-center col-md-12">
  <div id = "download-head">
    <p class = "lead"> check off desired results and download! </p>
  </div>
  <div class="input-group-btn">
    <button id="download-csv" class="download btn btn-lg btn-success" onclick="download('csv')">
      <p> CSV </p> <i class="fas fa-arrow-circle-down"></i>
    </button>
    <button id="download-json" class="download btn btn-lg btn-warning" onclick="download('json')">
      <p> JSON </p> <i class="fas fa-arrow-circle-down"></i>
    </button>
    <button id="download-xml" class="download btn btn-lg btn-danger" onclick="download('xml')">
      <p> XML </p> <i class="fas fa-arrow-circle-down"></i>
    </button>
  </div>
</div>
