<div class= "footer">
  <hr class = "hr">
  <ul class = "text-center">
    <li>&copy; 2019 Bootstrap United |</li>
    <li> Coded and Designed by George Kaouris and Dimitris Nikitopoulos |</li>
    <li><a href= "contact-us"> Contact </a></li>
  </ul>
</div>
