<div class= "footer">
  <ul class = "text-center">
    <li>&copy; 2019 Bootstrap United |</li>
    <li> Coded and Designed by George Kaouris and Dimitris Nikitopoulos |</li>
    <li id="repo"><a href= "https://github.com/dimitronikito/SARA">
      Project Repository <i class="fab fa-github github"></i> </a> |
    </li>
    <li><a href= "contact-us"> Contact Us</a></li>
  </ul>
</div>
