<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/header %>
    <link rel="stylesheet" href="css/about.css">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <%include ../../partials/nav %>

  <div style='padding-top:75px;'>
    <div class= "container george">
      <div class= "row">
        <div class= "col-lg">
           <h1 class= "text-center animated fadeInDown name"> Hi, I'm George Kaouris </h1>
            <h3 class="text-center animated fadeInDown"> aspiring front end developer.</h3>
            <div class= "pic animated fadeInDown text-center">
              <div class= "container text-center">
                <ul class= "list-inline text-center list">
                  <li class = "github"><a href="https://github.com/gkaouris"><i class="fab fa-github fa-2x github"></i></li>
                    <li class= "codepen"><a href="https://codepen.io/gkaouris/"><i class="fab fa-codepen fa-2x codepen"></i></li>
                      <li class= "pic"><a href="#"><img src="/pictures/meee.png" class= "image"></li>
                        <li class= "linkedin"><a href="https://www.linkedin.com/in/george-kaouris-4aa3b413a/"><i class="fab fa-linkedin-in fa-2x linkedin"></i></li>
                          <li class= "facebook"><a href="https://www.facebook.com/george.kaouris"><i class="fab fa-facebook fa-2x facebook"></i></a></li>
                      </ul>
                    </div>
          </div>
        </div>
      </div>
    </div>



    <div class= "container dimitri">
          <div class= "row">
            <div class= "col-lg">
               <h1 class= "text-center animated fadeInDown name"> Hi, I'm Dimitri Nikitopoulos </h1>
                <h3 class="text-center animated fadeInDown"> proffesional problem solver.</h3>
                <div class= "pic animated fadeInDown text-center">
                  <div class= "container text-center">
                    <ul class= "list-inline text-center list">
                      <li><a href="https://github.com/dimitronikito"><i class="fab fa-github fa-2x github"></i></li>
                        <li><a href="https://codepen.io/dimitronikito/"><i class="fab fa-codepen fa-2x codepen"></i></li>
                          <li><a href="#"><img src="/pictures/dimitri.jpg" class= "image"></li>
                            <li><a href="https://www.linkedin.com/in/dimitrios-nikitopoulos-343404137/"><i class="fab fa-linkedin-in fa-2x linkedin"></i></li>
                              <li><a href="https://twitter.com/dimitronikito"><i class="fab fa-twitter fa-2x twitter"></i></a></li>
                          </ul>
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>






  </body>

  <footer>
    <%include ../../partials/footer %>
  </footer>
</html>
