
.about{
  padding-top: 30px;
}

.george, .dimitri{
  height: 320px;
  padding-left: 50px;
  font-family: sans-serif;
}
/*
.george{
  background-color: #c6f2ee;
}

.dimitri{
  background-color: #f7d9d9;
}
*/
.github, .facebook, .codepen, .linkedin, .twitter{
  color: black;
}

.twitter:hover{
  animation: bounce 1s;
}

.github:hover{
  animation: bounce 1s;
}

.facebook:hover{
  animation: bounce 1s;
}
.codepen:hover{
  animation: bounce 1s;
}
.linkedin:hover{
  animation: bounce 1s;
}

.image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-style: solid 10px;
}



.list{
  padding-top: 25px;
}

.hr{
  color: black;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
