* {
  font-family: 'Montserrat', sans-serif;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 38px;
}

nav {
  font-size:18px;
}
nav a {
  color: black;
}
nav a:hover {
  color: black;
  transition-duration: 1s;
}
.dropdown a {
  font-size:16px;
}

#fixed-search-list {
  margin: 5%;
}

.fixed-result-url {
  color: #006621;
}

.jumbotron {
  margin-top: 75px;
  background-color: #faf7fc !important;
}

#searchbar:hover {
  /* width: 47%; */
}

#searchbar {
  width: 45%;
  /* -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out; */
}

@media only screen and (max-width: 600px){
  #searchbar{
    /* width: 62%; */
  }
}

#contact-form{
  padding-left: 40px;
  padding-right: 40px;
}

.navOption{
  padding-left: 40px;
  padding-right: 40px;
}

.content{
  padding-top: 20px;
}

#geo{
  padding-top: 25px;
}

.footer{
  padding-top: 10px;
  background-color: #faf7fc;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.footer ul li{
  display: inline-block;
}

#repo a {
  color: black;
}

.icon-bar {
  color: black !important;
  background-color: black !important;
}
