<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/header %>
  </head>

  <body class="container-fluid">
    <%include ../../partials/nav %>

    <div class = "jumbotron">
      <h1> Fixed List Search </h1>
      <p class = "lead"> Click on the search button to display fixed results </p>
    </div>

    <div id="searchbar" class="input-group container-fluid">
        <input type="text" class="form-control input-lg" placeholder="top search engines " disabled>
      <div class="input-group-btn">
        <button id="fixed-search-button" class="btn btn-lg btn-primary" onpress="googleSearch()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <div class="container-fluid" id="search-results">
    </div>

    <div id="download-results" style="margin-bottom: 30px" class = "col-md-12">
        <div class="text-center input-group-btn">
          <button id="download-csv" class="download btn btn-lg btn-success" onclick="download('csv')">
            <p> CSV </p> <i class="fas fa-arrow-circle-down"></i>
          </button>
          <button id="download-json" class="download btn btn-lg btn-warning" onclick="download('json')">
            <p> JSON </p> <i class="fas fa-arrow-circle-down"></i>
          </button>
          <button id="download-xml" class="download btn btn-lg btn-danger" onclick="download('xml')">
            <p> XML </p> <i class="fas fa-arrow-circle-down"></i>
          </button>
        </div>
      </div>

  </body>
  <footer>
    <% include ../../partials/footer %>
    <script src = "/js/fixed-list.js"></script>
    <script src = "/js/download.js"></script>
  </footer>
</html>
