<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header %>
    <link rel="stylesheet" href="/css/home.css">
    </style>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <%include ../partials/nav %>

    <div class = "container-fluid first">
      <div class = "row">
          <h1 class = "title text-center"> Welcome to our SARA Term Project! <br> <br> <i class="fas fa-code fa-2x"></i> </h1>
      </div>
    </div>
    <div class = "container-fluid second">
      <div class = "row">
          <p class = "greeting text-center"> Here is a list of technologies used! </p>
          <ul id="rig">
  <div class="row text-center">
    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/html.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">HTML</span>
        </a>
    </li>

    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/css.svg">
            <span class="rig-overlay"></span>
            <span class="rig-text">CSS</span>
        </a>
    </li>

    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/bootstrap.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Bootstrap</span>
        </a>
    </li>
</div>
<div class="row text-center">
    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/javascript.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">JavaScript</span>
        </a>
    </li>

    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/express.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Express.js</span>
        </a>
    </li>

    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/node.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">node.js</span>
        </a>
    </li>
  </div>
  <div class="row text-center">
    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/mongo.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">MongoDB</span>
        </a>
    </li>

    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/github.svg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Github</span>
        </a>
    </li>

    <li>
        <a class="rig-cell">
            <img class="rig-img" src="pictures/heroku.png">
            <span class="rig-overlay"></span>
            <span class="rig-text">Heroku</span>
        </a>
    </li>
  </div>
</ul>
      </div>
    </div>


  </body>

  <footer>
    <%include ../partials/footer %>
  </footer>
</html>
